html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: $fontFamily;
  color: $fontColor;
  font-size: $fontSize;
  overflow-x: hidden;

  @include atSmall {
    font-size: $fontSmallSize;
  }

  @include atMedium {
    font-size: $fontMediumSize;
  }

  @include atLarge {
    font-size: $fontLargeSize;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  max-width: $maxContainerWidth;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}
