// Borders
$borderThickness: (1, 2, 3, 4);
$borderRadius: (5, 10, 15, 20, 25, 30, 35, 40, 45, 50);
$borderPercentRadius: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$borderStyles: (
  "dotted",
  "dashed",
  "solid",
  "double",
  "groove",
  "ridge",
  "inset",
  "outset",
  "none",
  "hidden"
);
$directions: ("top", "left", "right", "bottom");

//Buttons
$btnColorHover: #ccc;
$btnTextColor: black;
$btnBgColor: orange;
$btnBorderRadius: 10px;
$btnPadding: 1rem;

$btnLarge: 200px;
$btnMedium: 100px;
$btnSmall: 80px;

$btnSmallSizeLarge: 200px;
$btnSmallSizeMedium: 100px;
$btnSmallSizeSmall: 80px;

$btnMediumSizeLarge: 200px;
$btnMediumSizeMedium: 100px;
$btnMediumSizeSmall: 80px;

$btnLargeSizeLarge: 200px;
$btnLargeSizeMedium: 100px;
$btnLargeSizeSmall: 80px;

// Colors
$primaryColor: black;
$secondaryColor: red;
$thirdColor: #ccc;
$fourthColor: beige;

$warningColor: #f76666;
$successColor: #30aa30;

$redColor: red;
$blueColor: blue;
$blackColor: black;
$whiteColor: white;
$orangeColor: orange;
$purpleColor: purple;
$yellowColor: yellow;
$greenColor: green;
$pinkColor: pink;
$cyanColor: cyan;
$silverColor: silver;

// Display
$flexGrow: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

// Fonts
$fontFamily: "Roboto", "sans-serif";
$fontSize: 0.9rem;
$fontSmallSize: 0.9rem;
$fontMediumSize: 1rem;
$fontLargeSize: 1rem;
$fontColor: black;

// Font Sizes
$fontPxArray: (8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32);
$fontRemArray: (1, 2, 3, 4, 5, 6, 7, 8);
$fontWeightArray: (100, 200, 300, 400, 500, 600, 700, 800, 900, 1000);

// grid
$gridGap: 1rem;

// Headings
$fontHeadingWeight: 300;

$fontH1Size: 2rem;
$fontH1SmallSize: 2rem;
$fontH1MediumSize: 2rem;
$fontH1LargeSize: 2.5rem;

$fontH2Size: 1.5rem;
$fontH2SmallSize: 1.5rem;
$fontH2MediumSize: 1.5rem;
$fontH2LargeSize: 1.5rem;

$fontH3Size: 1.5rem;
$fontH3SmallSize: 1.5rem;
$fontH3MediumSize: 1.5rem;
$fontH3LargeSize: 1.5rem;

// Heights
$boxHeighs: (
  0,
  10,
  20,
  30,
  40,
  50,
  60,
  70,
  80,
  90,
  100,
  125,
  150,
  175,
  200,
  250,
  300,
  350,
  400,
  450,
  500
);

// Inputs
$inputPaddingX: 0.5rem;
$inputPaddingY: 0.5rem;
$inputTextColor: black;
$inputBgColor: white;
$focusTextColor: black;
$focusBgColor: white;

// Links
$linkColor: $primaryColor;
$linkHoverColor: $secondaryColor;
$linkBgColor: none;
$linkHoverBgColor: none;

// MenuIcon
$hamburgerMenuContainerHeight: 60px;
$hamburgerMenuContainerBgColor: none;
$hamburgerMenuContainerBorder: none;
$hamburgerMenuContainerBorderRadius: 10px;
$hamburgerMenuContainerPadding: 10px 10px;
$hamburgerMenuWidth: 40px;
$hamburgerMenuHeight: 4px;
$hamburgerMenuBgColor: black;
$hamburgerMenuSpace: 10px;
$hamburgerMenuBorderRadius: 5px;

// Opacities
$opacityArray: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);

// Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 1366px;

// Spacing
$spaceamounts: (1, 2, 3, 4, 5, 6, 7, 8);

// Widths
$widthPercentages: (0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100);
$widthPx: (
  0,
  10,
  20,
  30,
  40,
  50,
  60,
  70,
  80,
  90,
  100,
  125,
  150,
  175,
  200,
  250,
  300,
  350,
  400,
  450,
  500,
  550,
  600
);
