@function capitalize($string) {
  @if type-of($string) != 'string' {
    @return $string;
  }
  $first-letter: str-slice($string, 1, 1);
  $rest: str-slice($string, 2);
  @return to-upper-case($first-letter) + $rest;
}

$zeroTo100: (
  0,
  1,
  2,
  3,
  4,
  5,
  6,
  7,
  8,
  9,
  10,
  11,
  12,
  13,
  14,
  15,
  16,
  17,
  18,
  19,
  20,
  21,
  22,
  23,
  24,
  25,
  26,
  27,
  28,
  29,
  30,
  31,
  32,
  33,
  34,
  35,
  36,
  37,
  38,
  39,
  40,
  41,
  42,
  43,
  44,
  45,
  46,
  47,
  48,
  49,
  50,
  51,
  52,
  53,
  54,
  55,
  56,
  57,
  58,
  59,
  60,
  61,
  62,
  63,
  64,
  65,
  66,
  67,
  68,
  69,
  70,
  71,
  72,
  73,
  74,
  75,
  76,
  77,
  78,
  79,
  80,
  81,
  82,
  83,
  84,
  85,
  86,
  87,
  88,
  89,
  90,
  91,
  92,
  93,
  94,
  95,
  96,
  97,
  98,
  99,
  100
);

// Borders
$borderThickness: $zeroTo100;
$borderRadius: $zeroTo100;
$borderPercentRadius: $zeroTo100;
$borderStyles: (
  'dotted',
  'dashed',
  'solid',
  'double',
  'groove',
  'ridge',
  'inset',
  'outset',
  'none',
  'hidden'
);
$directions: ('top', 'left', 'right', 'bottom');

$colors: (
  'red': red,
  'blue': blue,
  'black': black,
  'white': white,
  'orange': orange,
  'purple': purple,
  'yellow': yellow,
  'green': green,
  'pink': pink,
  'cyan': cyan,
  'silver': silver,
  'navy': navy,
  'maroon': maroon,
  'olive': olive,
  'lime': lime,
  'teal': teal,
  'gold': gold,
  'bronze': bronze,
  'beige': beige,
  'coral': coral,
  'indigo': indigo,
  'lavender': lavender,
  'magenta': magenta,
  'salmon': salmon,
  'turquoise': turquoise,
  'violet': violet,
  'wheat': wheat,
  'khaki': khaki,
  'plum': plum,
  'orchid': orchid,
  'slategray': slategray,
  'tomato': tomato,
  'crimson': crimson
);
// Display
$flexGrow: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12);

// Font Sizes
$fontPxArray: $zeroTo100;
$fontRemArray: (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16);
$fontWeightArray: (100, 200, 300, 400, 500, 600, 700, 800, 900, 1000);

// grid
$gridGap: 1rem;

// Heights
$boxHeighs: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100,
  125,
  150,
  175,
  200,
  225,
  250,
  275,
  300,
  325,
  350,
  375,
  400,
  425,
  450,
  475,
  500,
  525,
  550,
  575,
  600,
  625,
  650,
  675,
  700,
  725,
  750,
  775,
  800,
  825,
  850,
  875,
  900,
  925,
  950,
  975,
  1000,
  1050,
  1100,
  1150,
  1200,
  1250,
  1300,
  1350,
  1400,
  1450,
  1500
);

// Opacities
$opacityArray: $zeroTo100;

// Sizes
$atSmall: 400px;
$atMedium: 800px;
$atLarge: 1200px;
$maxContainerWidth: 100%;

// Spacing
$spaceamounts: $zeroTo100;

// Widths
$widthPercentages: $zeroTo100;
$widthPx: (
  0,
  5,
  10,
  15,
  20,
  25,
  30,
  35,
  40,
  45,
  50,
  55,
  60,
  65,
  70,
  75,
  80,
  85,
  90,
  95,
  100,
  125,
  150,
  175,
  200,
  225,
  250,
  275,
  300,
  325,
  350,
  375,
  400,
  425,
  450,
  475,
  500,
  525,
  550,
  575,
  600,
  625,
  650,
  675,
  700,
  725,
  750,
  775,
  800,
  825,
  850,
  875,
  900,
  925,
  950,
  975,
  1000,
  1050,
  1100,
  1150,
  1200,
  1250,
  1300,
  1350,
  1400,
  1450,
  1500
);
