@each $radius in $borderRadius {
  .br-rad-px-#{$radius} {
    border-radius: #{$radius}px;
  }
}

@each $radius in $borderPercentRadius {
  .br-rad-per-#{$radius} {
    border-radius: percentage(math.div($radius, 100));
  }
}

@each $thickness in $borderThickness {
  @each $Styles in $borderStyles {
    @each $direction in $directions {
      .br-#{$direction}\-#{$Styles}\-#{$thickness} {
        border-#{$direction}: #{$Styles} #{$thickness}px;
      }
    }
  }
}

@each $thickness in $borderThickness {
  @each $Styles in $borderStyles {
    .br-all-#{$Styles}\-#{$thickness} {
      border: #{$Styles} #{$thickness}px;
    }
  }
}

.br-color-primary {
  border-color: $primaryColor;
}

.br-color-secondary {
  border-color: $secondaryColor;
}

.br-color-third {
  border-color: $thirdColor;
}

.br-color-fourth {
  border-color: $fourthColor;
}

.br-color-success {
  border-color: $successColor;
}

.br-color-warning {
  border-color: $warningColor;
}

.br-color-red {
  border-color: $redColor;
}

.br-color-blue {
  border-color: $blueColor;
}

.br-color-black {
  border-color: $blackColor;
}

.br-color-white {
  border-color: $whiteColor;
}

.br-color-orange {
  border-color: $orangeColor;
}

.br-color-purple {
  border-color: $purpleColor;
}

.br-color-yellow {
  border-color: $yellowColor;
}

.br-color-green {
  border-color: $greenColor;
}

.br-color-pink {
  border-color: $pinkColor;
}

.br-color-cyan {
  border-color: $cyanColor;
}

.br-color-silver {
  border-color: $silverColor;
}

.br-none {
  border: none;
}
