.text {
  &Primary {
    color: $primaryColor;
  }

  &Secondary {
    color: $secondaryColor;
  }

  &Third {
    color: $thirdColor;
  }

  &Fourth {
    color: $fourthColor;
  }

  &Success {
    color: $successColor;
  }

  &Warning {
    color: $warningColor;
  }

  &Red {
    color: $redColor;
  }

  &Blue {
    color: $blueColor;
  }

  &Black {
    color: $blackColor;
  }

  &White {
    color: $whiteColor;
  }

  &Orange {
    color: $orangeColor;
  }

  &Purple {
    color: $purpleColor;
  }

  &Yellow {
    color: $yellowColor;
  }

  &Green {
    color: $greenColor;
  }

  &Pink {
    color: $pinkColor;
  }

  &Cyan {
    color: $cyanColor;
  }

  &Silver {
    color: $silverColor;
  }
}

.bg {
  &Primary {
    background-color: $primaryColor;
  }

  &Secondary {
    background-color: $secondaryColor;
  }

  &Third {
    background-color: $thirdColor;
  }

  &Fourth {
    background-color: $fourthColor;
  }

  &Success {
    background-color: $successColor;
  }

  &Warning {
    background-color: $warningColor;
  }

  &Red {
    background-color: $redColor;
  }

  &Blue {
    background-color: $blueColor;
  }

  &Black {
    background-color: $blackColor;
  }

  &White {
    background-color: $whiteColor;
  }

  &Orange {
    background-color: $orangeColor;
  }

  &Purple {
    background-color: $purpleColor;
  }

  &Yellow {
    background-color: $yellowColor;
  }

  &Green {
    background-color: $greenColor;
  }

  &Pink {
    background-color: $pinkColor;
  }

  &Cyan {
    background-color: $cyanColor;
  }

  &Silver {
    background-color: $silverColor;
  }
}
