.text {
  &Primary {
    color: $primaryColor;
  }

  &Faded {
    color: $fadedColor;
  }

  &Info {
    color: $infoColor;
  }

  &Inverse {
    color: $inverseColor;
  }

  &Success {
    color: $successColor;
  }

  &Warning {
    color: $warningColor;
  }

  &Danger {
    color: $dangerColor;
  }

  &Red {
    color: $redColor;
  }

  &Blue {
    color: $blueColor;
  }

  &Black {
    color: $blackColor;
  }

  &White {
    color: $whiteColor;
  }

  &Orange {
    color: $orangeColor;
  }

  &Purple {
    color: $purpleColor;
  }

  &Yellow {
    color: $yellowColor;
  }

  &Green {
    color: $greenColor;
  }

  &Pink {
    color: $pinkColor;
  }

  &Cyan {
    color: $cyanColor;
  }

  &Silver {
    color: $silverColor;
  }
}

.bg {
  &Primary {
    background-color: $primaryColor;
  }

  &Faded {
    background-color: $fadedColor;
  }

  &Info {
    background-color: $infoColor;
  }

  &Inverse {
    background-color: $inverseColor;
  }

  &Success {
    background-color: $successColor;
  }

  &Warning {
    background-color: $warningColor;
  }

  &Danger {
    background-color: $dangerColor;
  }

  &Red {
    background-color: $redColor;
  }

  &Blue {
    background-color: $blueColor;
  }

  &Black {
    background-color: $blackColor;
  }

  &White {
    background-color: $whiteColor;
  }

  &Orange {
    background-color: $orangeColor;
  }

  &Purple {
    background-color: $purpleColor;
  }

  &Yellow {
    background-color: $yellowColor;
  }

  &Green {
    background-color: $greenColor;
  }

  &Pink {
    background-color: $pinkColor;
  }

  &Cyan {
    background-color: $cyanColor;
  }

  &Silver {
    background-color: $silverColor;
  }

  &Transparent {
    background-color: transparent;
  }
}
