@each $size in $fontPxArray {
  .f-s-px-#{$size} {
    font-size: #{$size}px;
  }
}

@each $size in $fontRemArray {
  .f-s-quarter-rem-#{$size} {
    font-size: #{math.div($size, 4)}rem;
  }
}

@each $weight in $fontWeightArray {
  .f-w-#{$weight} {
    font-weight: $weight;
  }
}

.f-b {
  font-weight: bold;
}

.f-i {
  font-style: italic;
}
