.input {
  padding: $inputPaddingY $inputPaddingX;
  color: $inputTextColor;
  background-color: $inputBgColor;

  &:focus {
    color: $focusTextColor;
    background-color: $focusBgColor;
  }
}

.required::after {
  content: "*";
  color: red;
}
