.hover-text-primary:hover {
  color: $primaryColor;
}

.hover-text-secondary:hover {
  color: $secondaryColor;
}

.hover-text-third:hover {
  color: $thirdColor;
}

.hover-text-fourth:hover {
  color: $fourthColor;
}

.hover-text-success:hover {
  color: $successColor;
}

.hover-text-warning:hover {
  color: $warningColor;
}

.hover-text-red:hover {
  color: $redColor;
}

.hover-text-blue:hover {
  color: $blueColor;
}

.hover-text-black:hover {
  color: $blackColor;
}

.hover-text-white:hover {
  color: $whiteColor;
}

.hover-text-orange:hover {
  color: $orangeColor;
}

.hover-text-purple:hover {
  color: $purpleColor;
}

.hover-text-yellow:hover {
  color: $yellowColor;
}

.hover-text-green:hover {
  color: $greenColor;
}

.hover-text-pink:hover {
  color: $pinkColor;
}

.hover-text-cyan:hover {
  color: $cyanColor;
}

.hover-text-silver:hover {
  color: $silverColor;
}

.hover-bg-primary:hover {
  background-color: $primaryColor;
}

.hover-bg-secondary:hover {
  background-color: $secondaryColor;
}

.hover-bg-third:hover {
  background-color: $thirdColor;
}

.hover-bg-fourth:hover {
  background-color: $fourthColor;
}

.hover-bg-success:hover {
  background-color: $successColor;
}

.hover-bg-warning:hover {
  background-color: $warningColor;
}

.hover-bg-red:hover {
  background-color: $redColor;
}

.hover-bg-blue:hover {
  background-color: $blueColor;
}

.hover-bg-black:hover {
  background-color: $blackColor;
}

.hover-bg-white:hover {
  background-color: $whiteColor;
}

.hover-bg-orange:hover {
  background-color: $orangeColor;
}

.hover-bg-purple:hover {
  background-color: $purpleColor;
}

.hover-bg-yellow:hover {
  background-color: $yellowColor;
}

.hover-bg-green:hover {
  background-color: $greenColor;
}

.hover-bg-pink:hover {
  background-color: $pinkColor;
}

.hover-bg-cyan:hover {
  background-color: $cyanColor;
}

.hover-bg-silver:hover {
  background-color: $silverColor;
}
