.hamburger-menu-container {
  justify-content: center;
  align-items: center;
  height: $hamburgerMenuContainerHeight;
  cursor: pointer;
  background-color: $hamburgerMenuContainerBgColor;
  border: $hamburgerMenuContainerBorder;
  border-radius: $hamburgerMenuContainerBorderRadius;
  padding: $hamburgerMenuContainerPadding;
}

%hamburger-menu-icon {
  width: $hamburgerMenuWidth;
  height: $hamburgerMenuHeight;
  background-color: $hamburgerMenuBgColor;
  display: block;
  border-radius: $hamburgerMenuBorderRadius;
  transition: all ease-in 0.3s;
}

.hamburger-menu-icon {
  @extend %hamburger-menu-icon;
  position: relative;
}

.hamburger-menu-icon::before {
  content: "";
  @extend %hamburger-menu-icon;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-$hamburgerMenuSpace);
}

.hamburger-menu-icon::after {
  content: "";
  @extend %hamburger-menu-icon;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY($hamburgerMenuSpace);
}

.hamburger-menu-closed-icon {
  @extend %hamburger-menu-icon;
  position: relative;
  transform: scaleX(1);
  opacity: 1;
  background-color: transparent;
}

.hamburger-menu-closed-icon::before {
  content: "";
  @extend %hamburger-menu-icon;
  position: absolute;
  transform: rotate(-45deg) scaleX(1.25);
  opacity: 1;
}

.hamburger-menu-closed-icon::after {
  content: "";
  @extend %hamburger-menu-icon;
  position: absolute;
  transform: rotate(45deg) scaleX(1.25);
  opacity: 1;
}

.hamburger-menu-hr {
  opacity: 0;
  transform: translateX(100%);
  transition: all ease-in 0.3s;
}

.hamburger-menu-hr-active {
  opacity: 1;
  transform: translateX(0);
}
