.mouse-hand {
  cursor: pointer;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

of-y-hidden {
  overflow-y: hidden;
}

of-y-scroll {
  overflow-y: scroll;
}

of-y-auto {
  overflow-y: auto;
}

of-x-hidden {
  overflow-x: hidden;
}

of-x-scroll {
  overflow-x: scroll;
}

of-x-auto {
  overflow-x: auto;
}
