@each $space in $spaceamounts {
    .m#{$space} {
        margin: $space*0.5rem;
    }

    .mt#{$space} {
        margin-top: $space*0.5rem;
    }

    .mb#{$space} {
        margin-bottom: $space*0.5rem;
    }

    .mr#{$space} {
        margin-right: $space*0.5rem;
    }

    .ml#{$space} {
        margin-left: $space*0.5rem;
    }

    .my#{$space} {
        margin: $space*0.5rem 0;
    }

    .mx#{$space} {
        margin: 0 $space*0.5rem;
    }

    // 

    .p#{$space} {
        padding: $space*0.5rem;
    }

    .pt#{$space} {
        padding-top: $space*0.5rem;
    }

    .pb#{$space} {
        padding-bottom: $space*0.5rem;
    }

    .pr#{$space} {
        padding-right: $space*0.5rem;
    }

    .pl#{$space} {
        padding-left: $space*0.5rem;
    }

    .py#{$space} {
        padding: $space*0.5rem 0;
    }

    .px#{$space} {
        padding: 0 $space*0.5rem;
    }

}

.ml-auto {
    margin-left: auto;
}

.mr-auto {
    margin-right: auto;
}