@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", "sans-serif";
  color: black;
  font-size: 16px;
  overflow-x: hidden;
}
@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  body {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  position: relative;
}

.text-ltr {
  text-align: left;
}

.text-rtl {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
  hyphens: auto;
}

.br-rad-px-5 {
  border-radius: 5px;
}

.br-rad-px-10 {
  border-radius: 10px;
}

.br-rad-px-15 {
  border-radius: 15px;
}

.br-rad-px-20 {
  border-radius: 20px;
}

.br-rad-px-25 {
  border-radius: 25px;
}

.br-rad-px-30 {
  border-radius: 30px;
}

.br-rad-px-35 {
  border-radius: 35px;
}

.br-rad-px-40 {
  border-radius: 40px;
}

.br-rad-px-45 {
  border-radius: 45px;
}

.br-rad-px-50 {
  border-radius: 50px;
}

.br-rad-per-0 {
  border-radius: 0%;
}

.br-rad-per-10 {
  border-radius: 10%;
}

.br-rad-per-20 {
  border-radius: 20%;
}

.br-rad-per-30 {
  border-radius: 30%;
}

.br-rad-per-40 {
  border-radius: 40%;
}

.br-rad-per-50 {
  border-radius: 50%;
}

.br-rad-per-60 {
  border-radius: 60%;
}

.br-rad-per-70 {
  border-radius: 70%;
}

.br-rad-per-80 {
  border-radius: 80%;
}

.br-rad-per-90 {
  border-radius: 90%;
}

.br-rad-per-100 {
  border-radius: 100%;
}

.br-top-dotted-1 {
  border-top: dotted 1px;
}

.br-left-dotted-1 {
  border-left: dotted 1px;
}

.br-right-dotted-1 {
  border-right: dotted 1px;
}

.br-bottom-dotted-1 {
  border-bottom: dotted 1px;
}

.br-top-dashed-1 {
  border-top: dashed 1px;
}

.br-left-dashed-1 {
  border-left: dashed 1px;
}

.br-right-dashed-1 {
  border-right: dashed 1px;
}

.br-bottom-dashed-1 {
  border-bottom: dashed 1px;
}

.br-top-solid-1 {
  border-top: solid 1px;
}

.br-left-solid-1 {
  border-left: solid 1px;
}

.br-right-solid-1 {
  border-right: solid 1px;
}

.br-bottom-solid-1 {
  border-bottom: solid 1px;
}

.br-top-double-1 {
  border-top: double 1px;
}

.br-left-double-1 {
  border-left: double 1px;
}

.br-right-double-1 {
  border-right: double 1px;
}

.br-bottom-double-1 {
  border-bottom: double 1px;
}

.br-top-groove-1 {
  border-top: groove 1px;
}

.br-left-groove-1 {
  border-left: groove 1px;
}

.br-right-groove-1 {
  border-right: groove 1px;
}

.br-bottom-groove-1 {
  border-bottom: groove 1px;
}

.br-top-ridge-1 {
  border-top: ridge 1px;
}

.br-left-ridge-1 {
  border-left: ridge 1px;
}

.br-right-ridge-1 {
  border-right: ridge 1px;
}

.br-bottom-ridge-1 {
  border-bottom: ridge 1px;
}

.br-top-inset-1 {
  border-top: inset 1px;
}

.br-left-inset-1 {
  border-left: inset 1px;
}

.br-right-inset-1 {
  border-right: inset 1px;
}

.br-bottom-inset-1 {
  border-bottom: inset 1px;
}

.br-top-outset-1 {
  border-top: outset 1px;
}

.br-left-outset-1 {
  border-left: outset 1px;
}

.br-right-outset-1 {
  border-right: outset 1px;
}

.br-bottom-outset-1 {
  border-bottom: outset 1px;
}

.br-top-none-1 {
  border-top: none 1px;
}

.br-left-none-1 {
  border-left: none 1px;
}

.br-right-none-1 {
  border-right: none 1px;
}

.br-bottom-none-1 {
  border-bottom: none 1px;
}

.br-top-hidden-1 {
  border-top: hidden 1px;
}

.br-left-hidden-1 {
  border-left: hidden 1px;
}

.br-right-hidden-1 {
  border-right: hidden 1px;
}

.br-bottom-hidden-1 {
  border-bottom: hidden 1px;
}

.br-top-dotted-2 {
  border-top: dotted 2px;
}

.br-left-dotted-2 {
  border-left: dotted 2px;
}

.br-right-dotted-2 {
  border-right: dotted 2px;
}

.br-bottom-dotted-2 {
  border-bottom: dotted 2px;
}

.br-top-dashed-2 {
  border-top: dashed 2px;
}

.br-left-dashed-2 {
  border-left: dashed 2px;
}

.br-right-dashed-2 {
  border-right: dashed 2px;
}

.br-bottom-dashed-2 {
  border-bottom: dashed 2px;
}

.br-top-solid-2 {
  border-top: solid 2px;
}

.br-left-solid-2 {
  border-left: solid 2px;
}

.br-right-solid-2 {
  border-right: solid 2px;
}

.br-bottom-solid-2 {
  border-bottom: solid 2px;
}

.br-top-double-2 {
  border-top: double 2px;
}

.br-left-double-2 {
  border-left: double 2px;
}

.br-right-double-2 {
  border-right: double 2px;
}

.br-bottom-double-2 {
  border-bottom: double 2px;
}

.br-top-groove-2 {
  border-top: groove 2px;
}

.br-left-groove-2 {
  border-left: groove 2px;
}

.br-right-groove-2 {
  border-right: groove 2px;
}

.br-bottom-groove-2 {
  border-bottom: groove 2px;
}

.br-top-ridge-2 {
  border-top: ridge 2px;
}

.br-left-ridge-2 {
  border-left: ridge 2px;
}

.br-right-ridge-2 {
  border-right: ridge 2px;
}

.br-bottom-ridge-2 {
  border-bottom: ridge 2px;
}

.br-top-inset-2 {
  border-top: inset 2px;
}

.br-left-inset-2 {
  border-left: inset 2px;
}

.br-right-inset-2 {
  border-right: inset 2px;
}

.br-bottom-inset-2 {
  border-bottom: inset 2px;
}

.br-top-outset-2 {
  border-top: outset 2px;
}

.br-left-outset-2 {
  border-left: outset 2px;
}

.br-right-outset-2 {
  border-right: outset 2px;
}

.br-bottom-outset-2 {
  border-bottom: outset 2px;
}

.br-top-none-2 {
  border-top: none 2px;
}

.br-left-none-2 {
  border-left: none 2px;
}

.br-right-none-2 {
  border-right: none 2px;
}

.br-bottom-none-2 {
  border-bottom: none 2px;
}

.br-top-hidden-2 {
  border-top: hidden 2px;
}

.br-left-hidden-2 {
  border-left: hidden 2px;
}

.br-right-hidden-2 {
  border-right: hidden 2px;
}

.br-bottom-hidden-2 {
  border-bottom: hidden 2px;
}

.br-top-dotted-3 {
  border-top: dotted 3px;
}

.br-left-dotted-3 {
  border-left: dotted 3px;
}

.br-right-dotted-3 {
  border-right: dotted 3px;
}

.br-bottom-dotted-3 {
  border-bottom: dotted 3px;
}

.br-top-dashed-3 {
  border-top: dashed 3px;
}

.br-left-dashed-3 {
  border-left: dashed 3px;
}

.br-right-dashed-3 {
  border-right: dashed 3px;
}

.br-bottom-dashed-3 {
  border-bottom: dashed 3px;
}

.br-top-solid-3 {
  border-top: solid 3px;
}

.br-left-solid-3 {
  border-left: solid 3px;
}

.br-right-solid-3 {
  border-right: solid 3px;
}

.br-bottom-solid-3 {
  border-bottom: solid 3px;
}

.br-top-double-3 {
  border-top: double 3px;
}

.br-left-double-3 {
  border-left: double 3px;
}

.br-right-double-3 {
  border-right: double 3px;
}

.br-bottom-double-3 {
  border-bottom: double 3px;
}

.br-top-groove-3 {
  border-top: groove 3px;
}

.br-left-groove-3 {
  border-left: groove 3px;
}

.br-right-groove-3 {
  border-right: groove 3px;
}

.br-bottom-groove-3 {
  border-bottom: groove 3px;
}

.br-top-ridge-3 {
  border-top: ridge 3px;
}

.br-left-ridge-3 {
  border-left: ridge 3px;
}

.br-right-ridge-3 {
  border-right: ridge 3px;
}

.br-bottom-ridge-3 {
  border-bottom: ridge 3px;
}

.br-top-inset-3 {
  border-top: inset 3px;
}

.br-left-inset-3 {
  border-left: inset 3px;
}

.br-right-inset-3 {
  border-right: inset 3px;
}

.br-bottom-inset-3 {
  border-bottom: inset 3px;
}

.br-top-outset-3 {
  border-top: outset 3px;
}

.br-left-outset-3 {
  border-left: outset 3px;
}

.br-right-outset-3 {
  border-right: outset 3px;
}

.br-bottom-outset-3 {
  border-bottom: outset 3px;
}

.br-top-none-3 {
  border-top: none 3px;
}

.br-left-none-3 {
  border-left: none 3px;
}

.br-right-none-3 {
  border-right: none 3px;
}

.br-bottom-none-3 {
  border-bottom: none 3px;
}

.br-top-hidden-3 {
  border-top: hidden 3px;
}

.br-left-hidden-3 {
  border-left: hidden 3px;
}

.br-right-hidden-3 {
  border-right: hidden 3px;
}

.br-bottom-hidden-3 {
  border-bottom: hidden 3px;
}

.br-top-dotted-4 {
  border-top: dotted 4px;
}

.br-left-dotted-4 {
  border-left: dotted 4px;
}

.br-right-dotted-4 {
  border-right: dotted 4px;
}

.br-bottom-dotted-4 {
  border-bottom: dotted 4px;
}

.br-top-dashed-4 {
  border-top: dashed 4px;
}

.br-left-dashed-4 {
  border-left: dashed 4px;
}

.br-right-dashed-4 {
  border-right: dashed 4px;
}

.br-bottom-dashed-4 {
  border-bottom: dashed 4px;
}

.br-top-solid-4 {
  border-top: solid 4px;
}

.br-left-solid-4 {
  border-left: solid 4px;
}

.br-right-solid-4 {
  border-right: solid 4px;
}

.br-bottom-solid-4 {
  border-bottom: solid 4px;
}

.br-top-double-4 {
  border-top: double 4px;
}

.br-left-double-4 {
  border-left: double 4px;
}

.br-right-double-4 {
  border-right: double 4px;
}

.br-bottom-double-4 {
  border-bottom: double 4px;
}

.br-top-groove-4 {
  border-top: groove 4px;
}

.br-left-groove-4 {
  border-left: groove 4px;
}

.br-right-groove-4 {
  border-right: groove 4px;
}

.br-bottom-groove-4 {
  border-bottom: groove 4px;
}

.br-top-ridge-4 {
  border-top: ridge 4px;
}

.br-left-ridge-4 {
  border-left: ridge 4px;
}

.br-right-ridge-4 {
  border-right: ridge 4px;
}

.br-bottom-ridge-4 {
  border-bottom: ridge 4px;
}

.br-top-inset-4 {
  border-top: inset 4px;
}

.br-left-inset-4 {
  border-left: inset 4px;
}

.br-right-inset-4 {
  border-right: inset 4px;
}

.br-bottom-inset-4 {
  border-bottom: inset 4px;
}

.br-top-outset-4 {
  border-top: outset 4px;
}

.br-left-outset-4 {
  border-left: outset 4px;
}

.br-right-outset-4 {
  border-right: outset 4px;
}

.br-bottom-outset-4 {
  border-bottom: outset 4px;
}

.br-top-none-4 {
  border-top: none 4px;
}

.br-left-none-4 {
  border-left: none 4px;
}

.br-right-none-4 {
  border-right: none 4px;
}

.br-bottom-none-4 {
  border-bottom: none 4px;
}

.br-top-hidden-4 {
  border-top: hidden 4px;
}

.br-left-hidden-4 {
  border-left: hidden 4px;
}

.br-right-hidden-4 {
  border-right: hidden 4px;
}

.br-bottom-hidden-4 {
  border-bottom: hidden 4px;
}

.br-all-dotted-1 {
  border: dotted 1px;
}

.br-all-dashed-1 {
  border: dashed 1px;
}

.br-all-solid-1 {
  border: solid 1px;
}

.br-all-double-1 {
  border: double 1px;
}

.br-all-groove-1 {
  border: groove 1px;
}

.br-all-ridge-1 {
  border: ridge 1px;
}

.br-all-inset-1 {
  border: inset 1px;
}

.br-all-outset-1 {
  border: outset 1px;
}

.br-all-none-1 {
  border: none 1px;
}

.br-all-hidden-1 {
  border: hidden 1px;
}

.br-all-dotted-2 {
  border: dotted 2px;
}

.br-all-dashed-2 {
  border: dashed 2px;
}

.br-all-solid-2 {
  border: solid 2px;
}

.br-all-double-2 {
  border: double 2px;
}

.br-all-groove-2 {
  border: groove 2px;
}

.br-all-ridge-2 {
  border: ridge 2px;
}

.br-all-inset-2 {
  border: inset 2px;
}

.br-all-outset-2 {
  border: outset 2px;
}

.br-all-none-2 {
  border: none 2px;
}

.br-all-hidden-2 {
  border: hidden 2px;
}

.br-all-dotted-3 {
  border: dotted 3px;
}

.br-all-dashed-3 {
  border: dashed 3px;
}

.br-all-solid-3 {
  border: solid 3px;
}

.br-all-double-3 {
  border: double 3px;
}

.br-all-groove-3 {
  border: groove 3px;
}

.br-all-ridge-3 {
  border: ridge 3px;
}

.br-all-inset-3 {
  border: inset 3px;
}

.br-all-outset-3 {
  border: outset 3px;
}

.br-all-none-3 {
  border: none 3px;
}

.br-all-hidden-3 {
  border: hidden 3px;
}

.br-all-dotted-4 {
  border: dotted 4px;
}

.br-all-dashed-4 {
  border: dashed 4px;
}

.br-all-solid-4 {
  border: solid 4px;
}

.br-all-double-4 {
  border: double 4px;
}

.br-all-groove-4 {
  border: groove 4px;
}

.br-all-ridge-4 {
  border: ridge 4px;
}

.br-all-inset-4 {
  border: inset 4px;
}

.br-all-outset-4 {
  border: outset 4px;
}

.br-all-none-4 {
  border: none 4px;
}

.br-all-hidden-4 {
  border: hidden 4px;
}

.br-color-primary {
  border-color: #0275d8;
}

.br-color-faded {
  border-color: #f7f7f7;
}

.br-color-info {
  border-color: #5bc0de;
}

.br-color-inverse {
  border-color: #292b2c;
}

.br-color-success {
  border-color: #5cb85c;
}

.br-color-warning {
  border-color: #f0ad4e;
}

.br-color-danger {
  border-color: #d9534f;
}

.br-color-red {
  border-color: red;
}

.br-color-blue {
  border-color: blue;
}

.br-color-black {
  border-color: black;
}

.br-color-white {
  border-color: white;
}

.br-color-orange {
  border-color: orange;
}

.br-color-purple {
  border-color: purple;
}

.br-color-yellow {
  border-color: yellow;
}

.br-color-green {
  border-color: green;
}

.br-color-pink {
  border-color: pink;
}

.br-color-cyan {
  border-color: cyan;
}

.br-color-silver {
  border-color: silver;
}

.br-none {
  border: none;
}

.btn {
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-size: 16px;
  background-color: orange;
}
@media (min-width: 400px) {
  .btn {
    font-size: 16px;
  }
}
@media (min-width: 800px) {
  .btn {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  .btn {
    font-size: 18px;
  }
}
.btn:hover {
  background-color: #ccc;
}

.btn-large {
  width: 200px;
}
@media (min-width: 400px) {
  .btn-large {
    width: 200px;
  }
}
@media (min-width: 800px) {
  .btn-large {
    width: 400px;
  }
}
@media (min-width: 1200px) {
  .btn-large {
    width: 400px;
  }
}

.btn-medium {
  width: 100px;
}
@media (min-width: 400px) {
  .btn-medium {
    width: 100px;
  }
}
@media (min-width: 800px) {
  .btn-medium {
    width: 200px;
  }
}
@media (min-width: 1200px) {
  .btn-medium {
    width: 200px;
  }
}

.btn-small {
  width: 80px;
}
@media (min-width: 400px) {
  .btn-small {
    width: 80px;
  }
}
@media (min-width: 800px) {
  .btn-small {
    width: 160px;
  }
}
@media (min-width: 1200px) {
  .btn-small {
    width: 160px;
  }
}

.btn-full {
  width: 100%;
}

.textPrimary {
  color: #0275d8;
}
.textFaded {
  color: #f7f7f7;
}
.textInfo {
  color: #5bc0de;
}
.textInverse {
  color: #292b2c;
}
.textSuccess {
  color: #5cb85c;
}
.textWarning {
  color: #f0ad4e;
}
.textDanger {
  color: #d9534f;
}
.textRed {
  color: red;
}
.textBlue {
  color: blue;
}
.textBlack {
  color: black;
}
.textWhite {
  color: white;
}
.textOrange {
  color: orange;
}
.textPurple {
  color: purple;
}
.textYellow {
  color: yellow;
}
.textGreen {
  color: green;
}
.textPink {
  color: pink;
}
.textCyan {
  color: cyan;
}
.textSilver {
  color: silver;
}

.bgPrimary {
  background-color: #0275d8;
}
.bgFaded {
  background-color: #f7f7f7;
}
.bgInfo {
  background-color: #5bc0de;
}
.bgInverse {
  background-color: #292b2c;
}
.bgSuccess {
  background-color: #5cb85c;
}
.bgWarning {
  background-color: #f0ad4e;
}
.bgDanger {
  background-color: #d9534f;
}
.bgRed {
  background-color: red;
}
.bgBlue {
  background-color: blue;
}
.bgBlack {
  background-color: black;
}
.bgWhite {
  background-color: white;
}
.bgOrange {
  background-color: orange;
}
.bgPurple {
  background-color: purple;
}
.bgYellow {
  background-color: yellow;
}
.bgGreen {
  background-color: green;
}
.bgPink {
  background-color: pink;
}
.bgCyan {
  background-color: cyan;
}
.bgSilver {
  background-color: silver;
}
.bgTransparent {
  background-color: transparent;
}

.flex {
  display: flex;
}
.flex--gr--1 {
  flex-grow: 1;
}
.flex--gr--2 {
  flex-grow: 2;
}
.flex--gr--3 {
  flex-grow: 3;
}
.flex--gr--4 {
  flex-grow: 4;
}
.flex--gr--5 {
  flex-grow: 5;
}
.flex--gr--6 {
  flex-grow: 6;
}
.flex--gr--7 {
  flex-grow: 7;
}
.flex--gr--8 {
  flex-grow: 8;
}
.flex--gr--9 {
  flex-grow: 9;
}
.flex--gr--10 {
  flex-grow: 10;
}
.flex--gr--11 {
  flex-grow: 11;
}
.flex--gr--12 {
  flex-grow: 12;
}
.flex--jc--start {
  justify-content: flex-start;
}
.flex--jc--end {
  justify-content: flex-end;
}
.flex--jc--center {
  justify-content: center;
}
.flex--jc--between {
  justify-content: space-between;
}
.flex--jc--around {
  justify-content: space-around;
}
.flex--jc--evenly {
  justify-content: space-evenly;
}
.flex--ai--start {
  align-items: flex-start;
}
.flex--ai--end {
  align-items: flex-end;
}
.flex--ai--center {
  align-items: center;
}
.flex--dir--row {
  flex-direction: row;
}
.flex--dir--col {
  flex-direction: column;
}
.flex--dir--row--reverse {
  flex-direction: row-reverse;
}
.flex--dir--col--reverse {
  flex-direction: column-reverse;
}
.flex--wrap {
  flex-wrap: wrap;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.no-display {
  display: none;
}

.show-flex-in-sm-md-lg {
  display: none;
}
@media (min-width: 400px) {
  .show-flex-in-sm-md-lg {
    display: flex;
  }
}
@media (min-width: 800px) {
  .show-flex-in-sm-md-lg {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .show-flex-in-sm-md-lg {
    display: flex;
  }
}
.show-flex-in-md-lg {
  display: none;
}
@media (min-width: 800px) {
  .show-flex-in-md-lg {
    display: flex;
  }
}
@media (min-width: 1200px) {
  .show-flex-in-md-lg {
    display: flex;
  }
}
.show-flex-in-lg {
  display: none;
}
@media (min-width: 1200px) {
  .show-flex-in-lg {
    display: flex;
  }
}
.show-flex-in-md-sm-xsm {
  display: flex;
}
@media (min-width: 1200px) {
  .show-flex-in-md-sm-xsm {
    display: none;
  }
}
.show-flex-in-sm-xsm {
  display: flex;
}
@media (min-width: 800px) {
  .show-flex-in-sm-xsm {
    display: none;
  }
}
.show-flex-in-xsm {
  display: flex;
}
@media (min-width: 400px) {
  .show-flex-in-xsm {
    display: none;
  }
}

.show-block-in-sm-md-lg {
  display: none;
}
@media (min-width: 400px) {
  .show-block-in-sm-md-lg {
    display: block;
  }
}
@media (min-width: 800px) {
  .show-block-in-sm-md-lg {
    display: block;
  }
}
@media (min-width: 1200px) {
  .show-block-in-sm-md-lg {
    display: block;
  }
}
.show-block-in-md-lg {
  display: none;
}
@media (min-width: 800px) {
  .show-block-in-md-lg {
    display: block;
  }
}
@media (min-width: 1200px) {
  .show-block-in-md-lg {
    display: block;
  }
}
.show-block-in-lg {
  display: none;
}
@media (min-width: 1200px) {
  .show-block-in-lg {
    display: block;
  }
}
.show-block-in-md-sm-xsm {
  display: block;
}
@media (min-width: 1200px) {
  .show-block-in-md-sm-xsm {
    display: none;
  }
}
.show-block-in-sm-xsm {
  display: block;
}
@media (min-width: 800px) {
  .show-block-in-sm-xsm {
    display: none;
  }
}
.show-block-in-xsm {
  display: block;
}
@media (min-width: 400px) {
  .show-block-in-xsm {
    display: none;
  }
}

.fs-px-8 {
  font-size: 8px;
}

.fs-px-10 {
  font-size: 10px;
}

.fs-px-12 {
  font-size: 12px;
}

.fs-px-14 {
  font-size: 14px;
}

.fs-px-16 {
  font-size: 16px;
}

.fs-px-18 {
  font-size: 18px;
}

.fs-px-20 {
  font-size: 20px;
}

.fs-px-22 {
  font-size: 22px;
}

.fs-px-24 {
  font-size: 24px;
}

.fs-px-26 {
  font-size: 26px;
}

.fs-px-28 {
  font-size: 28px;
}

.fs-px-30 {
  font-size: 30px;
}

.fs-px-32 {
  font-size: 32px;
}

.fs-r-1 {
  font-size: 1rem;
}

.fs-r-2 {
  font-size: 2rem;
}

.fs-r-3 {
  font-size: 3rem;
}

.fs-r-4 {
  font-size: 4rem;
}

.fs-r-5 {
  font-size: 5rem;
}

.fs-r-6 {
  font-size: 6rem;
}

.fs-r-7 {
  font-size: 7rem;
}

.fs-r-8 {
  font-size: 8rem;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-1000 {
  font-weight: 1000;
}

.f-b {
  font-weight: bold;
}

.f-i {
  font-style: italic;
}

.input {
  padding: 6px 8px;
  color: black;
  background-color: white;
}
.input:focus {
  color: black;
  background-color: #ccc;
}

.required::after {
  content: "*";
  color: red;
}

.h3, .h2, .h1 {
  font-weight: bold;
}

.h1 {
  font-size: 32px;
}
@media (min-width: 400px) {
  .h1 {
    font-size: 32px;
  }
}
@media (min-width: 800px) {
  .h1 {
    font-size: 40px;
  }
}
@media (min-width: 1200px) {
  .h1 {
    font-size: 48px;
  }
}

.h2 {
  font-size: 26px;
}
@media (min-width: 400px) {
  .h2 {
    font-size: 26px;
  }
}
@media (min-width: 800px) {
  .h2 {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .h2 {
    font-size: 36px;
  }
}

.h3 {
  font-size: 22px;
}
@media (min-width: 400px) {
  .h3 {
    font-size: 22px;
  }
}
@media (min-width: 800px) {
  .h3 {
    font-size: 24px;
  }
}
@media (min-width: 1200px) {
  .h3 {
    font-size: 28px;
  }
}

.min-height-px-0 {
  min-height: 0px;
}

.min-height-px-10 {
  min-height: 10px;
}

.min-height-px-20 {
  min-height: 20px;
}

.min-height-px-30 {
  min-height: 30px;
}

.min-height-px-40 {
  min-height: 40px;
}

.min-height-px-50 {
  min-height: 50px;
}

.min-height-px-60 {
  min-height: 60px;
}

.min-height-px-70 {
  min-height: 70px;
}

.min-height-px-80 {
  min-height: 80px;
}

.min-height-px-90 {
  min-height: 90px;
}

.min-height-px-100 {
  min-height: 100px;
}

.min-height-px-125 {
  min-height: 125px;
}

.min-height-px-150 {
  min-height: 150px;
}

.min-height-px-175 {
  min-height: 175px;
}

.min-height-px-200 {
  min-height: 200px;
}

.min-height-px-250 {
  min-height: 250px;
}

.min-height-px-300 {
  min-height: 300px;
}

.min-height-px-350 {
  min-height: 350px;
}

.min-height-px-400 {
  min-height: 400px;
}

.min-height-px-450 {
  min-height: 450px;
}

.min-height-px-500 {
  min-height: 500px;
}

.height-px-0 {
  height: 0px;
}

.height-px-10 {
  height: 10px;
}

.height-px-20 {
  height: 20px;
}

.height-px-30 {
  height: 30px;
}

.height-px-40 {
  height: 40px;
}

.height-px-50 {
  height: 50px;
}

.height-px-60 {
  height: 60px;
}

.height-px-70 {
  height: 70px;
}

.height-px-80 {
  height: 80px;
}

.height-px-90 {
  height: 90px;
}

.height-px-100 {
  height: 100px;
}

.height-px-125 {
  height: 125px;
}

.height-px-150 {
  height: 150px;
}

.height-px-175 {
  height: 175px;
}

.height-px-200 {
  height: 200px;
}

.height-px-250 {
  height: 250px;
}

.height-px-300 {
  height: 300px;
}

.height-px-350 {
  height: 350px;
}

.height-px-400 {
  height: 400px;
}

.height-px-450 {
  height: 450px;
}

.height-px-500 {
  height: 500px;
}

.max-height-px-0 {
  max-height: 0px;
}

.max-height-px-10 {
  max-height: 10px;
}

.max-height-px-20 {
  max-height: 20px;
}

.max-height-px-30 {
  max-height: 30px;
}

.max-height-px-40 {
  max-height: 40px;
}

.max-height-px-50 {
  max-height: 50px;
}

.max-height-px-60 {
  max-height: 60px;
}

.max-height-px-70 {
  max-height: 70px;
}

.max-height-px-80 {
  max-height: 80px;
}

.max-height-px-90 {
  max-height: 90px;
}

.max-height-px-100 {
  max-height: 100px;
}

.max-height-px-125 {
  max-height: 125px;
}

.max-height-px-150 {
  max-height: 150px;
}

.max-height-px-175 {
  max-height: 175px;
}

.max-height-px-200 {
  max-height: 200px;
}

.max-height-px-250 {
  max-height: 250px;
}

.max-height-px-300 {
  max-height: 300px;
}

.max-height-px-350 {
  max-height: 350px;
}

.max-height-px-400 {
  max-height: 400px;
}

.max-height-px-450 {
  max-height: 450px;
}

.max-height-px-500 {
  max-height: 500px;
}

.min-height-vh-full {
  min-height: 100vh;
}
.min-height-vh-half {
  min-height: 50vh;
}
.min-height-vh-oneFourth {
  min-height: 25vh;
}
.min-height-vh-threeFourth {
  min-height: 75vh;
}
.min-height-vh-oneThird {
  min-height: 33.33333333vh;
}
.min-height-vh-twoThird {
  min-height: 66.66666666vh;
}

.height-vh-full {
  height: 100vh;
}
.height-vh-half {
  height: 50vh;
}
.height-vh-oneFourth {
  height: 25vh;
}
.height-vh-threeFourth {
  height: 75vh;
}
.height-vh-oneThird {
  height: 33.33333333vh;
}
.height-vh-twoThird {
  height: 66.66666666vh;
}

.max-height-vh-full {
  max-height: 100vh;
}
.max-height-vh-half {
  max-height: 50vh;
}
.max-height-vh-oneFourth {
  max-height: 25vh;
}
.max-height-vh-threeFourth {
  max-height: 75vh;
}
.max-height-vh-oneThird {
  max-height: 33.33333333vh;
}
.max-height-vh-twoThird {
  max-height: 66.66666666vh;
}

.hover-text-primary:hover {
  color: #0275d8;
}

.hover-text-faded:hover {
  color: #f7f7f7;
}

.hover-text-info:hover {
  color: #5bc0de;
}

.hover-text-inverse:hover {
  color: #292b2c;
}

.hover-text-success:hover {
  color: #5cb85c;
}

.hover-text-warning:hover {
  color: #f0ad4e;
}

.hover-text-danger:hover {
  color: #d9534f;
}

.hover-text-red:hover {
  color: red;
}

.hover-text-blue:hover {
  color: blue;
}

.hover-text-black:hover {
  color: black;
}

.hover-text-white:hover {
  color: white;
}

.hover-text-orange:hover {
  color: orange;
}

.hover-text-purple:hover {
  color: purple;
}

.hover-text-yellow:hover {
  color: yellow;
}

.hover-text-green:hover {
  color: green;
}

.hover-text-pink:hover {
  color: pink;
}

.hover-text-cyan:hover {
  color: cyan;
}

.hover-text-silver:hover {
  color: silver;
}

.hover-bg-primary:hover {
  background-color: #0275d8;
}

.hover-bg-faded:hover {
  background-color: #f7f7f7;
}

.hover-bg-info:hover {
  background-color: #5bc0de;
}

.hover-bg-inverse:hover {
  background-color: #292b2c;
}

.hover-bg-danger:hover {
  background-color: #d9534f;
}

.hover-bg-success:hover {
  background-color: #5cb85c;
}

.hover-bg-warning:hover {
  background-color: #f0ad4e;
}

.hover-bg-red:hover {
  background-color: red;
}

.hover-bg-blue:hover {
  background-color: blue;
}

.hover-bg-black:hover {
  background-color: black;
}

.hover-bg-white:hover {
  background-color: white;
}

.hover-bg-orange:hover {
  background-color: orange;
}

.hover-bg-purple:hover {
  background-color: purple;
}

.hover-bg-yellow:hover {
  background-color: yellow;
}

.hover-bg-green:hover {
  background-color: green;
}

.hover-bg-pink:hover {
  background-color: pink;
}

.hover-bg-cyan:hover {
  background-color: cyan;
}

.hover-bg-silver:hover {
  background-color: silver;
}

.link {
  text-decoration: none;
  color: black;
  background-color: transparent;
  cursor: pointer;
}

.link:hover {
  color: pink;
  background-color: transparent;
}

.op-0 {
  opacity: 0;
}

.op-10 {
  opacity: 0.1;
}

.op-20 {
  opacity: 0.2;
}

.op-30 {
  opacity: 0.3;
}

.op-40 {
  opacity: 0.4;
}

.op-50 {
  opacity: 0.5;
}

.op-60 {
  opacity: 0.6;
}

.op-70 {
  opacity: 0.7;
}

.op-80 {
  opacity: 0.8;
}

.op-90 {
  opacity: 0.9;
}

.op-100 {
  opacity: 1;
}

.mouse-hand {
  cursor: pointer;
}

.z-0 {
  z-index: 0;
}

.z-10 {
  z-index: 10;
}

.z-100 {
  z-index: 100;
}

.z-1000 {
  z-index: 1000;
}

.z-10000 {
  z-index: 10000;
}

.z-100000 {
  z-index: 100000;
}

.f-left {
  float: left;
}

.f-right {
  float: right;
}

.of-y-hidden {
  overflow-y: hidden;
}

.of-y-scroll {
  overflow-y: scroll;
}

.of-y-auto {
  overflow-y: auto;
}

.of-x-hidden {
  overflow-x: hidden;
}

.of-hidden {
  overflow: hidden;
}

.of-x-scroll {
  overflow-x: scroll;
}

.of-x-auto {
  overflow-x: auto;
}

.underline {
  text-decoration: underline;
}

.pos-abs {
  position: absolute;
}
.pos-abs--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-abs--lt {
  top: 0;
  left: 0;
}
.pos-abs--rt {
  top: 0;
  right: 0;
}
.pos-abs--lb {
  left: 0;
  top: 100%;
}
.pos-abs--rb {
  right: 0;
  top: 100%;
}

.pos-rel {
  position: relative;
}

.pos-fix {
  position: fixed;
}
.pos-fix--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-fix--lt {
  top: 0;
  left: 0;
}
.pos-fix--rt {
  top: 0;
  right: 0;
}
.pos-fix--lb {
  left: 0;
  top: 100%;
}
.pos-fix--rb {
  right: 0;
  top: 100%;
}

.pos-sticky {
  position: sticky;
}
.pos-sticky--center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.pos-sticky--lt {
  top: 0;
  left: 0;
}
.pos-sticky--rt {
  top: 0;
  right: 0;
}
.pos-sticky--lb {
  left: 0;
  top: 100%;
}
.pos-sticky--rb {
  right: 0;
  top: 100%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.row--12 {
  width: 100%;
}
.row--11 {
  width: 91.6666666667%;
}
.row--10 {
  width: 83.3333333333%;
}
.row--9 {
  width: 75%;
}
.row--8 {
  width: 66.6666666667%;
}
.row--7 {
  width: 58.3333333333%;
}
.row--6 {
  width: 50%;
}
.row--5 {
  width: 41.6666666667%;
}
.row--4 {
  width: 33.3333333333%;
}
.row--3 {
  width: 25%;
}
.row--2 {
  width: 16.6666666667%;
}
.row--1 {
  width: 8.3333333333%;
}
.row--0 {
  width: 0px;
}
@media (min-width: 400px) {
  .row--sm--12 {
    width: 100%;
  }
}
@media (min-width: 400px) {
  .row--sm--11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 400px) {
  .row--sm--10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 400px) {
  .row--sm--9 {
    width: 75%;
  }
}
@media (min-width: 400px) {
  .row--sm--8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 400px) {
  .row--sm--7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 400px) {
  .row--sm--6 {
    width: 50%;
  }
}
@media (min-width: 400px) {
  .row--sm--5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 400px) {
  .row--sm--4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 400px) {
  .row--sm--3 {
    width: 25%;
  }
}
@media (min-width: 400px) {
  .row--sm--2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 400px) {
  .row--sm--1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 400px) {
  .row--sm--0 {
    width: 0px;
  }
}
@media (min-width: 800px) {
  .row--md--12 {
    width: 100%;
  }
}
@media (min-width: 800px) {
  .row--md--11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 800px) {
  .row--md--10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 800px) {
  .row--md--9 {
    width: 75%;
  }
}
@media (min-width: 800px) {
  .row--md--8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 800px) {
  .row--md--7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 800px) {
  .row--md--6 {
    width: 50%;
  }
}
@media (min-width: 800px) {
  .row--md--5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 800px) {
  .row--md--4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 800px) {
  .row--md--3 {
    width: 25%;
  }
}
@media (min-width: 800px) {
  .row--md--2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 800px) {
  .row--md--1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 800px) {
  .row--md--0 {
    width: 0px;
  }
}
@media (min-width: 1200px) {
  .row--lg--12 {
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .row--lg--11 {
    width: 91.6666666667%;
  }
}
@media (min-width: 1200px) {
  .row--lg--10 {
    width: 83.3333333333%;
  }
}
@media (min-width: 1200px) {
  .row--lg--9 {
    width: 75%;
  }
}
@media (min-width: 1200px) {
  .row--lg--8 {
    width: 66.6666666667%;
  }
}
@media (min-width: 1200px) {
  .row--lg--7 {
    width: 58.3333333333%;
  }
}
@media (min-width: 1200px) {
  .row--lg--6 {
    width: 50%;
  }
}
@media (min-width: 1200px) {
  .row--lg--5 {
    width: 41.6666666667%;
  }
}
@media (min-width: 1200px) {
  .row--lg--4 {
    width: 33.3333333333%;
  }
}
@media (min-width: 1200px) {
  .row--lg--3 {
    width: 25%;
  }
}
@media (min-width: 1200px) {
  .row--lg--2 {
    width: 16.6666666667%;
  }
}
@media (min-width: 1200px) {
  .row--lg--1 {
    width: 8.3333333333%;
  }
}
@media (min-width: 1200px) {
  .row--lg--0 {
    width: 0px;
  }
}

.grid {
  display: grid;
  width: 100%;
}
.grid--cols--auto {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.grid--cols--oneFourth {
  grid-template-columns: repeat(4, 1fr);
}
.grid--cols--oneThird {
  grid-template-columns: repeat(3, 1fr);
}
.grid--cols--oneHalf {
  grid-template-columns: repeat(2, 1fr);
}

.m1 {
  margin: 0.5rem;
}

.mt1 {
  margin-top: 0.5rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.mr1 {
  margin-right: 0.5rem;
}

.ml1 {
  margin-left: 0.5rem;
}

.my1 {
  margin: 0.5rem 0;
}

.mx1 {
  margin: 0 0.5rem;
}

.p1 {
  padding: 0.5rem;
}

.pt1 {
  padding-top: 0.5rem;
}

.pb1 {
  padding-bottom: 0.5rem;
}

.pr1 {
  padding-right: 0.5rem;
}

.pl1 {
  padding-left: 0.5rem;
}

.py1 {
  padding: 0.5rem 0;
}

.px1 {
  padding: 0 0.5rem;
}

.m2 {
  margin: 1rem;
}

.mt2 {
  margin-top: 1rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.mr2 {
  margin-right: 1rem;
}

.ml2 {
  margin-left: 1rem;
}

.my2 {
  margin: 1rem 0;
}

.mx2 {
  margin: 0 1rem;
}

.p2 {
  padding: 1rem;
}

.pt2 {
  padding-top: 1rem;
}

.pb2 {
  padding-bottom: 1rem;
}

.pr2 {
  padding-right: 1rem;
}

.pl2 {
  padding-left: 1rem;
}

.py2 {
  padding: 1rem 0;
}

.px2 {
  padding: 0 1rem;
}

.m3 {
  margin: 1.5rem;
}

.mt3 {
  margin-top: 1.5rem;
}

.mb3 {
  margin-bottom: 1.5rem;
}

.mr3 {
  margin-right: 1.5rem;
}

.ml3 {
  margin-left: 1.5rem;
}

.my3 {
  margin: 1.5rem 0;
}

.mx3 {
  margin: 0 1.5rem;
}

.p3 {
  padding: 1.5rem;
}

.pt3 {
  padding-top: 1.5rem;
}

.pb3 {
  padding-bottom: 1.5rem;
}

.pr3 {
  padding-right: 1.5rem;
}

.pl3 {
  padding-left: 1.5rem;
}

.py3 {
  padding: 1.5rem 0;
}

.px3 {
  padding: 0 1.5rem;
}

.m4 {
  margin: 2rem;
}

.mt4 {
  margin-top: 2rem;
}

.mb4 {
  margin-bottom: 2rem;
}

.mr4 {
  margin-right: 2rem;
}

.ml4 {
  margin-left: 2rem;
}

.my4 {
  margin: 2rem 0;
}

.mx4 {
  margin: 0 2rem;
}

.p4 {
  padding: 2rem;
}

.pt4 {
  padding-top: 2rem;
}

.pb4 {
  padding-bottom: 2rem;
}

.pr4 {
  padding-right: 2rem;
}

.pl4 {
  padding-left: 2rem;
}

.py4 {
  padding: 2rem 0;
}

.px4 {
  padding: 0 2rem;
}

.m5 {
  margin: 2.5rem;
}

.mt5 {
  margin-top: 2.5rem;
}

.mb5 {
  margin-bottom: 2.5rem;
}

.mr5 {
  margin-right: 2.5rem;
}

.ml5 {
  margin-left: 2.5rem;
}

.my5 {
  margin: 2.5rem 0;
}

.mx5 {
  margin: 0 2.5rem;
}

.p5 {
  padding: 2.5rem;
}

.pt5 {
  padding-top: 2.5rem;
}

.pb5 {
  padding-bottom: 2.5rem;
}

.pr5 {
  padding-right: 2.5rem;
}

.pl5 {
  padding-left: 2.5rem;
}

.py5 {
  padding: 2.5rem 0;
}

.px5 {
  padding: 0 2.5rem;
}

.m6 {
  margin: 3rem;
}

.mt6 {
  margin-top: 3rem;
}

.mb6 {
  margin-bottom: 3rem;
}

.mr6 {
  margin-right: 3rem;
}

.ml6 {
  margin-left: 3rem;
}

.my6 {
  margin: 3rem 0;
}

.mx6 {
  margin: 0 3rem;
}

.p6 {
  padding: 3rem;
}

.pt6 {
  padding-top: 3rem;
}

.pb6 {
  padding-bottom: 3rem;
}

.pr6 {
  padding-right: 3rem;
}

.pl6 {
  padding-left: 3rem;
}

.py6 {
  padding: 3rem 0;
}

.px6 {
  padding: 0 3rem;
}

.m7 {
  margin: 3.5rem;
}

.mt7 {
  margin-top: 3.5rem;
}

.mb7 {
  margin-bottom: 3.5rem;
}

.mr7 {
  margin-right: 3.5rem;
}

.ml7 {
  margin-left: 3.5rem;
}

.my7 {
  margin: 3.5rem 0;
}

.mx7 {
  margin: 0 3.5rem;
}

.p7 {
  padding: 3.5rem;
}

.pt7 {
  padding-top: 3.5rem;
}

.pb7 {
  padding-bottom: 3.5rem;
}

.pr7 {
  padding-right: 3.5rem;
}

.pl7 {
  padding-left: 3.5rem;
}

.py7 {
  padding: 3.5rem 0;
}

.px7 {
  padding: 0 3.5rem;
}

.m8 {
  margin: 4rem;
}

.mt8 {
  margin-top: 4rem;
}

.mb8 {
  margin-bottom: 4rem;
}

.mr8 {
  margin-right: 4rem;
}

.ml8 {
  margin-left: 4rem;
}

.my8 {
  margin: 4rem 0;
}

.mx8 {
  margin: 0 4rem;
}

.p8 {
  padding: 4rem;
}

.pt8 {
  padding-top: 4rem;
}

.pb8 {
  padding-bottom: 4rem;
}

.pr8 {
  padding-right: 4rem;
}

.pl8 {
  padding-left: 4rem;
}

.py8 {
  padding: 4rem 0;
}

.px8 {
  padding: 0 4rem;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.min-w-per-0 {
  min-width: 0%;
}

.min-w-per-10 {
  min-width: 10%;
}

.min-w-per-20 {
  min-width: 20%;
}

.min-w-per-30 {
  min-width: 30%;
}

.min-w-per-40 {
  min-width: 40%;
}

.min-w-per-50 {
  min-width: 50%;
}

.min-w-per-60 {
  min-width: 60%;
}

.min-w-per-70 {
  min-width: 70%;
}

.min-w-per-80 {
  min-width: 80%;
}

.min-w-per-90 {
  min-width: 90%;
}

.min-w-per-100 {
  min-width: 100%;
}

.min-w-px-0 {
  min-width: 0px;
}

.min-w-px-10 {
  min-width: 10px;
}

.min-w-px-20 {
  min-width: 20px;
}

.min-w-px-30 {
  min-width: 30px;
}

.min-w-px-40 {
  min-width: 40px;
}

.min-w-px-50 {
  min-width: 50px;
}

.min-w-px-60 {
  min-width: 60px;
}

.min-w-px-70 {
  min-width: 70px;
}

.min-w-px-80 {
  min-width: 80px;
}

.min-w-px-90 {
  min-width: 90px;
}

.min-w-px-100 {
  min-width: 100px;
}

.min-w-px-125 {
  min-width: 125px;
}

.min-w-px-150 {
  min-width: 150px;
}

.min-w-px-175 {
  min-width: 175px;
}

.min-w-px-200 {
  min-width: 200px;
}

.min-w-px-250 {
  min-width: 250px;
}

.min-w-px-300 {
  min-width: 300px;
}

.min-w-px-350 {
  min-width: 350px;
}

.min-w-px-400 {
  min-width: 400px;
}

.min-w-px-450 {
  min-width: 450px;
}

.min-w-px-500 {
  min-width: 500px;
}

.min-w-px-550 {
  min-width: 550px;
}

.min-w-px-600 {
  min-width: 600px;
}

.w-per-0 {
  width: 0%;
}

.w-per-10 {
  width: 10%;
}

.w-per-20 {
  width: 20%;
}

.w-per-30 {
  width: 30%;
}

.w-per-40 {
  width: 40%;
}

.w-per-50 {
  width: 50%;
}

.w-per-60 {
  width: 60%;
}

.w-per-70 {
  width: 70%;
}

.w-per-80 {
  width: 80%;
}

.w-per-90 {
  width: 90%;
}

.w-per-100 {
  width: 100%;
}

.w-px-0 {
  width: 0px;
}

.w-px-10 {
  width: 10px;
}

.w-px-20 {
  width: 20px;
}

.w-px-30 {
  width: 30px;
}

.w-px-40 {
  width: 40px;
}

.w-px-50 {
  width: 50px;
}

.w-px-60 {
  width: 60px;
}

.w-px-70 {
  width: 70px;
}

.w-px-80 {
  width: 80px;
}

.w-px-90 {
  width: 90px;
}

.w-px-100 {
  width: 100px;
}

.w-px-125 {
  width: 125px;
}

.w-px-150 {
  width: 150px;
}

.w-px-175 {
  width: 175px;
}

.w-px-200 {
  width: 200px;
}

.w-px-250 {
  width: 250px;
}

.w-px-300 {
  width: 300px;
}

.w-px-350 {
  width: 350px;
}

.w-px-400 {
  width: 400px;
}

.w-px-450 {
  width: 450px;
}

.w-px-500 {
  width: 500px;
}

.w-px-550 {
  width: 550px;
}

.w-px-600 {
  width: 600px;
}

.max-w-per-0 {
  max-width: 0%;
}

.max-w-per-10 {
  max-width: 10%;
}

.max-w-per-20 {
  max-width: 20%;
}

.max-w-per-30 {
  max-width: 30%;
}

.max-w-per-40 {
  max-width: 40%;
}

.max-w-per-50 {
  max-width: 50%;
}

.max-w-per-60 {
  max-width: 60%;
}

.max-w-per-70 {
  max-width: 70%;
}

.max-w-per-80 {
  max-width: 80%;
}

.max-w-per-90 {
  max-width: 90%;
}

.max-w-per-100 {
  max-width: 100%;
}

.max-w-px-0 {
  max-width: 0px;
}

.max-w-px-10 {
  max-width: 10px;
}

.max-w-px-20 {
  max-width: 20px;
}

.max-w-px-30 {
  max-width: 30px;
}

.max-w-px-40 {
  max-width: 40px;
}

.max-w-px-50 {
  max-width: 50px;
}

.max-w-px-60 {
  max-width: 60px;
}

.max-w-px-70 {
  max-width: 70px;
}

.max-w-px-80 {
  max-width: 80px;
}

.max-w-px-90 {
  max-width: 90px;
}

.max-w-px-100 {
  max-width: 100px;
}

.max-w-px-125 {
  max-width: 125px;
}

.max-w-px-150 {
  max-width: 150px;
}

.max-w-px-175 {
  max-width: 175px;
}

.max-w-px-200 {
  max-width: 200px;
}

.max-w-px-250 {
  max-width: 250px;
}

.max-w-px-300 {
  max-width: 300px;
}

.max-w-px-350 {
  max-width: 350px;
}

.max-w-px-400 {
  max-width: 400px;
}

.max-w-px-450 {
  max-width: 450px;
}

.max-w-px-500 {
  max-width: 500px;
}

.max-w-px-550 {
  max-width: 550px;
}

.max-w-px-600 {
  max-width: 600px;
}

.w-inherit {
  width: inherit;
}

.segment-0 {
  transform: rotate(0deg) skew(0deg);
}

.segment-90 {
  transform: rotate(90deg) skew(0deg);
}

.segment-180 {
  transform: rotate(180deg) skew(0deg);
}

.segment-270 {
  transform: rotate(270deg) skew(90deg);
}

.iswad_ring_segment {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vw;
  transform-origin: 0 0;
}

.ISWAD-Select-select {
  border: solid 1px black;
  padding: 8px 1rem;
}

.ISWAD-Select-optionsContainer {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
}
.ISWAD-Select-optionsContainerToUp {
  top: 0;
  transform: translateY(-100%);
}
.ISWAD-Select-optionsContainerToDown {
  bottom: 0;
  transform: translateY(100%);
}
.ISWAD-Select-optionsContainerIsActive {
  display: flex;
}

.ISWAD-Select-arrowConrainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.ISWAD-Select-iconSearch {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}

/*# sourceMappingURL=styles.css.map */
