.select {
  border: solid 1px black;
  padding: 8px 1rem;
}

.options {
  &Container {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;

    &ToUp {
      top: 0;
      transform: translateY(-100%);
    }

    &ToDown {
      bottom: 0;
      transform: translateY(100%);
    }

    &IsActive {
      display: flex;
    }
  }
}

.arrowConrainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 8px;
}

.iconSearch {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
