@each $space in $spaceamounts {
  .m#{$space} {
    margin: #{$space}px;
  }

  .mT#{$space} {
    margin-top: #{$space}px;
  }

  .mB#{$space} {
    margin-bottom: #{$space}px;
  }

  .mR#{$space} {
    margin-right: #{$space}px;
  }

  .mL#{$space} {
    margin-left: #{$space}px;
  }

  .mY#{$space} {
    margin-top: #{$space}px;
    margin-bottom: #{$space}px;
  }

  .mX#{$space} {
    margin-left: 0 #{$space}px;
    margin-right: 0 #{$space}px;
  }

  .p#{$space} {
    padding: #{$space}px;
  }

  .pT#{$space} {
    padding-top: #{$space}px;
  }

  .pB#{$space} {
    padding-bottom: #{$space}px;
  }

  .pR#{$space} {
    padding-right: #{$space}px;
  }

  .pL#{$space} {
    padding-left: #{$space}px;
  }

  .pY#{$space} {
    padding-top: #{$space}px;
    padding-bottom: #{$space}px;
  }

  .pX#{$space} {
    padding-left: #{$space}px;
    padding-right: #{$space}px;
  }
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}
