@import "./../../assets/styles/base/variables";

.iswad_navItem,
.iswad_subNavItem,
.iswad_mobNavItem,
.iswad_mobSubNavItem {
  &:hover {
    border-color: $primaryColor;
    background: rgba($primaryColor, 0.1);
    color: $primaryColor;
  }
  &_active {
    border-color: $primaryColor;
    background: linear-gradient(
      rgba($primaryColor, 0.2),
      rgba($primaryColor, 0.3)
    );
    color: $primaryColor !important;
  }
}

.iswad_subNavContainer {
  transform: translateX(-25%);
}

.test {
  transform: translateX(100%);
}
