.fullWindow {
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.subMenuContainer {
  transform: translate(-73px, 24px);
}

.menu_mob_hr {
  opacity: 0;
  transform: translateX(100%);
  transition: all ease-in 0.3s;
}

.menu_mob_hr_active {
  opacity: 1;
  transform: translateX(0);
}
