.fullWindow {
  height: 100vh;
  width: 100%;
  z-index: 10;
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.4;
}

.subMenuContainer {
  transform: translate(-73px, 24px);
}
