@import "Styles/base/_variables";
@import "Styles/base/_mixins";

.header {
  .nav {
    .logo {
      width: 150px;
      height: 150px;
      background-color: $primaryColor;
      color: $thirdColor;
    }

    .menuContainer {
      .menuListItem {
        a {
          &:hover {
            background-color: $thirdColor;
            color: $secondaryColor;
          }
        }
      }
    }
  }
}
