@import "Styles/base/_variables";
@import "Styles/base/_mixins";

.header {
  .nav {
    height: 70px;

    color: $secondaryColor;


    .logo {
      color: $secondaryColor;
    }

    .menuContainer {
      .menuListItem {
        a {
          color: $secondaryColor;
          &:hover {
            background-color: $thirdColor;
            color: $primaryColor;
          }
        }
      }
    }
  }
}
